@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash:100,200,300,400,500,600,700|Evo:100,200,300,400,500,600,700');

/*---------------------------------------------------*/

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
    }

.logo {
   background: url("images/logo.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 400px;
   
      }
      
.title {
    font-family: 'Berkshire Swash', cursive;
    font-weight: 100;
    font-size: 50px;
   
    
}   
      
      
      
      
      
   /*text-align: center; */
   
/*------------------------------------------------*/

.navbar-header {
    text-align: center;
} 

body {
    background-image: url("images/background.jpg");
}

.playback {
    background-image: url(images/spices.jpg);
    
    
}