@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

.bg-color-title {
    background-color: #FF8000
}

.nav {
    font-size: large
    
}


body {
    background-image: url("../background.jpg");
}

header {
    margin: 0
}


.logo {
   background: url("/images/logo.png");
   
  
   
      }
      
.heading {
    margin-left: 50px;
    }
      


.title {
    font-family: 'Berkshire Swash', cursive;
    font-weight: 100;
    font-size: 50px;
    margin-top: 50px;
    margin-left: 50px;
    color: #fffff;
    
}   
      
      
      
      





.playback {
    background-image: url("images/spices.jpg");
    background-repeat: no-repeat;
    
    
}